<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="css/test.css">
        <title>zip-service</title>
    </head>
    <body>
        <form action="zip" method="POST">
            <div>
                <span>JWT</span><input type="text" name="jwt" value='<%= jwt %>'/>
            </div>
            <div>
                <span>Base</span><input type="text" name="base" value='<%= base %>' />
            </div>
            <div>
                <span>File 1</span><input type="text" name="files[0]" value='<%= file0 %>'/>
            </div>
            <div>
                <span>File 2</span><input type="text" name="files[1]" value='<%= file1 %>'/>
            </div>
            <div>
                <span>File 3</span><input type="text" name="files[2]" value='<%= file2 %>'/>
            </div>
            <div>
                <input type="submit" value="Download"></button>
            </div>
        </form>
    </body>
</html>
